#big_title{
	font-size: 100px;
	margin-top: 5%;
	font-weight: 700;
}

.not_name{
	font-size: 55px;
	font-weight: 300;
	font-style: italic;
	font-family: Arial;
}

#name_text{
	margin-top: 2%;
	font-weight: 400;
	font-size: 35px;
	font-family: 'Calligraffitti', cursive;
}

#projectsInfo{
	width: 64%;
  	float: left;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      padding-top: 50px;
}

.textArea{
	height: auto !important;
}

.textArea img{
	margin-bottom: 5%;
	margin-left: 2%;
	margin-right: 2%;
}

.doodle {
	max-width:30%;
  max-height:50%;
  width: auto;
  height: auto;
}

#doodle1 li{
	margin-left: 1%;
	text-align: left;
}

#doodle1 ul{
	position:relative;
	right: -4%;
	margin-right: 4%;
}

#doodle1 h3{
	text-align: left;
}

.textAreaA{
	margin-top: 45% !important;
}

.carousel-indicators{
	position: relative;
	bottom: 10px;
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}